{% extends "index.html" %}
{% block pipeline %}

{% for pipe in pipes %}

<a href="https://ap-southeast-2.console.aws.amazon.com/codepipeline/home?region=ap-southeast-2#/view/{{pipe.Name}}"><h3 class="text-white">{{pipe.Name}} <span class="last-updated">- {{pipe.Updated.humanize()}}</span></h3></a>

<div class="card-deck">
    
    {% for stage in pipe.Stages %}
    

    {% if stage.status == 'Succeeded' %}
    <div class="card text-white bg-success">
    {% elif stage.status == 'Failed' %}
    <div class="card text-white bg-danger">
    {% elif stage.status == 'BrandNew' %}
    <div class="card text-white bg-secondary">
    {% else %}
    <div class="card text-white bg-primary">
    {% endif %}

    {% if stage.url != None %}
    <a href="{{stage.url}}">
    {% endif %}

    <div class="card-header"><b>{{stage.name}}</b></div>
    <div class="card-body">
    <p class="card-text">{{stage.status}}
    {% if stage.status == 'Succeeded' %}
    <i class="fa fa-check-circle" aria-hidden="true"></i>                    
    {% elif stage.status == 'Failed' %}
    <i class="fa fa-frown-o" aria-hidden="true"></i>
    {% elif stage.status == 'InProgress' %}
    <i class="fa fa-spinner" aria-hidden="true"></i>
    {% endif %}

    {% if stage.revisionId != None %}
        ({{ stage.revisionId }})
    {% endif %}
    </p>


    {% if stage.percentage == 'Unknown' %}

    {% else %}
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="{{stage.percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{stage.percentage}}%">{{stage.percentage}}%</div>
    </div>
    <br/>
    {% endif %}

    {% if stage.status == 'Succeeded' %}
    <small class="small"></small>
    {% elif stage.status == 'Failed' %}
    <small class="small">Error: {{stage.error_msg}}</small>
    {% elif stage.status == 'InProgress' %}
    <small class="small">Building in Progress...</small>
    {% endif %}
    </div>

    {% if stage.url != None %}
    </a>
    {% endif %}

    </div>

    {% endfor %}
    
</div>

<br/>
<br/>

{% endfor %}

{% endblock %}
